<% include partials/header %>

<h1>landing page</h1>
<p>welcome</p>

<!-- <% parsedData.forEach(function(data) { %>
    <li><%= data["department"] %></li>
<% }) %> -->

<!-- <div id="container" style="width:100%; height:400px;"></div> -->

<!-- <script>
    myChart
</script> -->



<% include partials/footer %>