<% include partials/header %>

<!-- <h1>landing page</h1>
<p>welcome</p> -->

<script>
    function myFunction() {
    var m = document.getElementById("month").value;
    var y = document.getElementById("year").value;
    
    
    // parsedData.forEach(function(data){
    //     var key = data["department"];
    //     depArray.forEach(function(dep){
    //         if (dep !== key){
    //             depArray.push(key);
    //         }
    //     })
    // });
    // depArray.forEach(function(data){
    //     console.log(data);
    // })
    alert(m);
    // alert(y);
    }
</script>

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Bouquet.ai Exercise'
        },
        subtitle: {
            text: 'Contact amounts in Marin by department'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
        },
        series: [{
            name: 'Population',
            data: [
                ['Shanghai', 23.7],
                ['Lagos', 16.1],
                ['Istanbul', 14.2],
                ['Karachi', 14.0],
                ['Mumbai', 12.5],
                ['Moscow', 12.1],
                ['São Paulo', 11.8],
                ['Beijing', 11.7],
                ['Guangzhou', 11.1],
                ['Delhi', 11.1],
                ['Shenzhen', 10.5],
                ['Seoul', 10.4],
                ['Jakarta', 10.0],
                ['Kinshasa', 9.3],
                ['Tianjin', 9.3],
                ['Tokyo', 9.0],
                ['Cairo', 8.9],
                ['Dhaka', 8.9],
                ['Mexico City', 8.9],
                ['Lima', 8.9]
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>


<div name="monthpicker">
    <select name="month" id="month" onchange="myFunction()">
        <option>Month</option>
        <option value="1">Jan</option>
        <option value="2">Fab</option>
        <option value="3">Mar</option>
        <option value="4">Apr</option>
        <option value="5">May</option>
        <option value="6">Jun</option>
        <option value="7">Jul</option>
        <option value="8">Aug</option>
        <option value="9">Sep</option>
        <option value="10">Oct</option>
        <option value="11">Nov</option>
        <option value="12">Dec</option>
    </select>

    <select name="year" id="year" onchange="myFunction()">
        <option>Year</option>
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </selsect>
</div>

<% include partials/footer %>