<% include partials/header %>

<!-- <h1>landing page</h1>
<p>welcome</p> -->

<!-- <% parsedData.forEach(function(data) { %>
    <li><%= data["department"] %></li>
<% }) %> -->

<div id="container" style="min-width: 300px; height: 400px; margin: 0 auto"></div>

<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Bouquet.ai Exercice'
        },
        subtitle: {
            text: 'Contact amounts in Marin by department'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Population (millions)'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
        },
        series: [{
            name: 'Population',
            data: [
                ['Shanghai', 23.7],
                ['Lagos', 16.1],
                ['Istanbul', 14.2],
                ['Karachi', 14.0],
                ['Mumbai', 12.5],
                ['Moscow', 12.1],
                ['São Paulo', 11.8],
                ['Beijing', 11.7],
                ['Guangzhou', 11.1],
                ['Delhi', 11.1],
                ['Shenzhen', 10.5],
                ['Seoul', 10.4],
                ['Jakarta', 10.0],
                ['Kinshasa', 9.3],
                ['Tianjin', 9.3],
                ['Tokyo', 9.0],
                ['Cairo', 8.9],
                ['Dhaka', 8.9],
                ['Mexico City', 8.9],
                ['Lima', 8.9]
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.1f}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
</script>


<div class="monthpicker">
    <select name="month">
        <option>Month</option>
        <option>Jan</option>
        <option>Fab</option>
        <option>Mar</option>
        <option>Apr</option>
        <option>May</option>
        <option>Jun</option>
        <option>Jul</option>
        <option>Aug</option>
        <option>Sep</option>
        <option>Oct</option>
        <option>Nov</option>
        <option>Dec</option>
    </select>

    <select name="year">
        <option>Year</option>
        <option>2016</option>
        <option>2017</option>
    </selsect>
</div>

<!-- <script>
 $('#monthpicker').monthpicker({
    years:          [2015, 2014, 2013, 2012, 2011],
    topOffset:      6,
    onMonthSelect:  function(m, y) {
      console.log('Month: ' + m + ', year: ' + y);
    }
});
</script>

<div class="monthpicker">
    <div class="years">
        <select>
        <option>2015</option>
        <option>2014</option>
        <option>2013</option>
        <option>2012</option>
        <option>2011</option>
        </select>
    </div>
    <table>
        <tr>
        <td><button data-value="0">January</button></td>
        <td><button data-value="1">February</button></td>
        <td><button data-value="2">March</button></td>
        <td><button data-value="3">April</button></td>
        </tr>
        <tr>
        <td><button data-value="4">May</button></td>
        <td><button data-value="5">June</button></td>
        <td><button data-value="6">July</button></td>
        <td><button data-value="7">August</button></td>
        </tr>
        <tr>
        <td><button data-value="8">September</button></td>
        <td><button data-value="9">October</button></td>
        <td><button data-value="10">November</button></td>
        <td><button data-value="11">December</button></td>
        </tr>
    </table>
</div> -->


<% include partials/footer %>